@model lista10.Models.Order

<h2>Dziękujemy za zakupy  w naszym sklepie!</h2>

<p>Twoje zamówienie zostało dodane do realizacji. O wszystkim będziemy cię informować drogą mailową.</p>

<a asp-action="Index" asp-controller="Home">Go Home</a>
